<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <div>
        <swiper-container
            [modules]="swiperModules"
            [slidesPerView]="1.2"
            [spaceBetween]="20"
            [keyboard]="true"
            [pagination]="{ clickable: true, dynamicBullets: true }"
        >
            <swiper-slide
                ><img src="assets/images/logo.png" alt="Logo icon"
            /></swiper-slide>
            <swiper-slide
                ><img src="assets/images/logo.png" alt="Logo icon"
            /></swiper-slide>
            <swiper-slide
                ><img src="assets/images/logo.png" alt="Logo icon"
            /></swiper-slide>
        </swiper-container>
    </div>
</ion-content>
